/* || PROJECT PAGES || */

/* Page Title */
.page-title{
    font: normal 72px/94px "DM Sans";
    color: #D5AC4E;
    text-align: center;
    padding-top: 86px;
}

/* || BODY TEXT || */
.text {
    font: normal 18px/27px "Poppins";
    color: #2F2F2F;
}

/* Centering text */
/* Source: https://stackoverflow.com/questions/19364836/how-to-center-ordered-list-number-in-html */
.center{
    text-align: center;
    list-style-position: inside;
}

.space {
    height: 65px;
}

/* || OVERVIEW SECTION || */
/* Titles in Overview Section*/
.overview-titles{
    text-decoration: underline;
}

.overview-sections{
    font: bold 18px/24px "DM Sans";
    color: #638898;
}

.overview-link{
    color: #FE938C;
    text-decoration: underline;
}

.overview-link:hover{
    color: #D5AC4E;
}

/* || PROBLEM AND SOLUTION SECTION || */
/* Titles in Problem-Solution Section */
.prob-sol-titles{
    font: bold 18px/24px "DM Sans";
    color: #FE938C;
    text-decoration: underline;
}

/* Formatting picture */
.work-page-img {
    width: 100%;
    height: auto;
}

.img-border{
    border: 2px solid #2F2F2F;
}

.prototype-img {
    height: auto;
    width: 100%;
    display: block;
    margin: auto;
}

/* || PROCESS SECTION || */
/* Process Header */
.process-header{
    border-color: #638898;
    background-color: #638898;
    align-items: center;
    font: bold 24px/32px "DM Sans";
    color: #FFFFFF;
    text-align: center;
}

/* Titles in Process Section */
.process-titles{
    font-weight: bold;
    color: #D5AC4E;
    text-decoration: underline;
}

/* || RESEARCH SECTION || */
/* Titles in Research Section */
.research-titles{
    color: #638898;
    font-weight: bold;
    text-decoration: underline;
}

/* || FOOTER || */
.active-footer{
    color: #FFFFFF;
}